@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500&display=swap');

h1 {
    font-size: 2.5em;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.choose {
    margin-top: 10%;
}

.classname {
    font-weight: 500;
    color: white;
    margin-bottom: 3px;
}

tr {
    height: 70px;
}

p {
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0.5em;
}

th {
    font-style: inherit;
}

table {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    alignment: center;
}

th, td {
    border-collapse: collapse;
    border-bottom: 1px dashed grey;
    border-spacing: 3px;
}

.lessondiv {
    background-color: darkslateblue;
    //background-color: slateblue;
    border-radius: 8px;
    margin-bottom: 2px;
    padding-bottom: 5px;
    padding-top: 3px;
    font-weight: 300;
    font-size: 0.9em;
    color: white;
    min-height: 3em;
}

select {
    alignment: center;
    align-self: center;
    width: 400px;
    border-radius: 8px;
    font-size: 1.5em;
    text-align-last: center;
    horiz-align: center;
    width: 100%;
    font-family: "Montserrat Alternates", serif;

}

.selector {
    horiz-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20%;
    margin-right: 20%;
}

input[name="submit"] {
    font-size: 1.5em;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 8px;
    background-color: #d0caec;
    font-family: "Montserrat Alternates", serif;
    font-weight: 500;
    border-width: 1px;
}

body {
    font-family: "Montserrat Alternates", serif;
}