<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title>Розклад {{schedule_for.name}}</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    </head>
    <body>
        <h1>Розклад {{schedule_for.name}}</h1>
        <h2>Верхній тиждень</h2>
        <table>
            <thead>
                <tr>
                    <th style="width: 10%"></th>
                    {% for day in ['Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'] %}
                    <th style="width: 15%">{{day}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for lesson in range(upper_table | length) %}
                <tr>
                    <th>{{time[lesson]}}</th>
                    {% for day in range(upper_table[lesson] | length) %}
                        {% if upper_table[lesson][day] %}
                        <td class="lessontd">
                            <div class="lessondiv">
                                <p class="classname">{{ upper_table[lesson][day].name }}</p>
                                <p>{{ upper_table[lesson][day].for_whom }}</p>
                                {% if upper_table[lesson][day].classroom %}
                                    <p>[{{ upper_table[lesson][day].lesson_type }}] ауд. {{ upper_table[lesson][day].classroom }}</p>
                                {% endif %}
                            </div>
                        </td>
                        {% else %}
                        <td class="emptytd"></td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Нижній тиждень</h2>
        <table>
            <thead>
                <tr>
                    <th style="width: 10%"></th>
                    {% for day in ['Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'] %}
                    <th style="width: 15%">{{day}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for lesson in range(lower_table | length) %}
                <tr>
                    <th>{{time[lesson]}}</th>
                    {% for day in range(lower_table[lesson] | length) %}
                        {% if lower_table[lesson][day] %}
                        <td class="lessontd">
                            <div class="lessondiv">
                                <p class="classname">{{ lower_table[lesson][day].name }}</p>
                                <p>{{ lower_table[lesson][day].for_whom }}</p>
                                {% if lower_table[lesson][day].classroom %}
                                    <p>[{{ lower_table[lesson][day].lesson_type }}] ауд. {{ lower_table[lesson][day].classroom }}</p>
                                {% endif %}
                            </div>
                        </td>
                        {% else %}
                        <td class="emptytd"></td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <form method="post" action="{{ url_for('subscribe') }}" novalidate>
            <label for="subsemail">Підписатися на цей розклад в гугл календарі:</label><br>
            <input type="email" name="email" id="subsemail" required />
            <input type="hidden" name="schedule_for" value="{{schedule_for.name}}" />
            <input type="submit" value="Підписатися" />
        </form>

    </body>
</html>